.tableOfContents {
  height: calc(100vh - var(--ifm-navbar-height) + 80px);
  position: sticky;
  top: calc(var(--ifm-navbar-height));
  border-left: 0;
  overflow-y: auto;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}

[data-theme='dark'] .tableOfContents {
  border-left: 0;
}
