.custom-footer-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

@media (min-width: 997px) and (max-width: 1298px), @media (max-width: 767px) {
  .custom-footer-wrapper {
    flex-direction: column;
  }

  .custom-footer-wrapper .logo-wrapper,
  .custom-footer-wrapper .copyright,
  .custom-footer-wrapper .footerSocialIconsWrapper {
    padding: 0.5rem 0;
  }
}

.custom-footer-wrapper .logo-wrapper {
  width: 108px;
}

.custom-footer-wrapper .logo-wrapper img {
  height: 100%;
  width: 100%;
}

.custom-footer-wrapper .dark-theme-logo {
  display: none;
}

.custom-footer-wrapper .footerSocialIconsWrapper {
  align-items: center;
  display: flex;
}

.custom-footer-wrapper .footerSocialIconsWrapper .socialBrands {
  margin: 0 12px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.custom-footer-wrapper .footerSocialIconsWrapper .socialBrands:hover {
  opacity: 1;
}

.custom-footer-wrapper .footerSocialIconsWrapper .socialBrands:first-child {
  margin-left: 0;
}

.custom-footer-wrapper .footerSocialIconsWrapper .socialBrands:last-child {
  margin-right: 0;
}

.contribution-pointer {
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: 0.5rem 0;
  position: absolute;
  top: 30px;
  transition: all var(--ifm-transition-fast) ease-in-out;
  z-index: -10;
}

.contribution-pointer .contribution-pointer__text {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.contribution-hover {
  opacity: 1;
  z-index: 10;
}

html[data-theme='dark'] .custom-footer-wrapper .dark-theme-logo {
  display: initial;
}

html[data-theme='dark'] .custom-footer-wrapper .light-theme-logo {
  display: none;
}
